* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	font-size: 14px;
	background-color: #f5f6fb;
	overflow-x: hidden;
	font-weight: 100;
}

/* Navbar */
nav {
	margin-bottom: 23px;
}
.container-fluid .logo {
	font-size: 24px;
	font-weight: 800;
	color: white;
	padding-left: 20px;
	padding-right: 93px;
	/* margin-right: 90px; */
	/* margin-left: 50px; */
}

.collapse a {
	color: white;
	font-size: 17px;
	/* margin-left: 93px; */
}

.collapse a:hover {
	color: rgb(255, 190, 190);
}

.kategori ul {
	background-color: #7f3eff;
	box-shadow: 5px 10px 8px rgb(0 0 0 / 0.2);
}

.kategori ul li a {
	color: rgb(255, 255, 255);
	margin: auto;
}

.kategori ul li a:hover {
	background-color: #f900d1;
	color: white;
}

.no-arrow .dropdown-toggle::after {
	display: none;
}

.nav-background {
	background-image: linear-gradient(to left, #7f3eff, #f900d1);
	color: white;
}

.navbar .container-fluid form {
	width: 30rem;
	margin-right: 5rem;
}

.navbar .container-fluid form input {
	border-top-left-radius: 35px;
	border-bottom-left-radius: 35px;
}

.navbar .container-fluid button {
	border-top-right-radius: 35px;
	border-bottom-right-radius: 35px;
	transition: 0.8;
	color: white;
	background-color: rgb(97, 134, 255);
}
.navbar .container-fluid button:hover {
	background-color: #f900d1;
}

.nav-search .form-control {
	font-size: 14px;
}

/* Profile */

.profile img {
	width: 45px;
}

.profile ul {
	background-color: #7f3eff;
	box-shadow: 5px 10px 8px rgb(0 0 0 / 0.2);
}
.profile ul li a {
	color: white;
}

.profile ul li a:hover {
	background-color: #f900d1;
	color: white;
}

.profile ul li a i {
	margin-right: 10px;
}

.profile a span {
	font-size: 16px;
	color: white;
	font-weight: 400;
}

/* Humburger menu */

.menu-toggle {
	display: none;
	flex-direction: column;
	height: 20px;
	justify-content: space-between;
	position: relative;
	right: 0;
}

.menu-toggle input {
	position: absolute;
	opacity: 0;
	width: 30px;
	height: 28px;
	left: -2px;
	top: -3px;
	cursor: pointer;
	z-index: 1;
}

.menu-toggle span {
	display: block;
	width: 28px;
	height: 3px;
	background-color: rgb(255, 255, 255);
	border-radius: 3px;
	transition: all 0.5s;
}

/* Humburger menu animasi */
.menu-toggle span:nth-child(2) {
	transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
	transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
	background-color: white;
	transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(3) {
	transform: scale(0);
}
.menu-toggle input:checked ~ span:nth-child(4) {
	background-color: white;
	transform: rotate(-45deg) translate(-1px, 0);
}
/* End Navbar */

/* Banner */

.layer {
	width: 100%;
	position: absolute;
	height: 200px;
	z-index: -1;
	top: 0;
	height: 300px;
	/* background-color: red; */
	/* box-shadow: inset 0px -164px 80px -113px rgba(0, 0, 0, 0.75),
		inset 0px 164px 80px -113px rgba(0, 0, 0, 0); */
	background: rgba(0, 0, 0, 0.34);
}
.hero-banner > img {
	top: -100px;
	position: absolute;
	z-index: -2;
	width: 100%;
	height: 400px;
}

/* List kategori */
.list-kategori {
	display: flex;
	justify-content: space-evenly;
	font-weight: 800;
	font-size: 24px;
}

.list-kategori > li {
	color: #05ff00;
}

.list-kategori > li > a {
	color: white;
	text-decoration: none;
}

.list-kategori .active {
	color: white;
	/* background-color: #f900d1; */
	background-color: rgba(208, 44, 237, 0.7);
	padding: 5px 10px;
	border-radius: 50px;
}

/* Main Content */
.content-kategori {
	margin-top: 6%;
}

.container-fluid .row .kolom-content .people-content {
	background-color: #ffffff;
	margin-top: 2px;
	margin-left: 2rem;
	border-radius: 10px;
	padding: 20px;
}

.container-fluid .row .kolom-content .people-content a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}

/* Name User */
.container-fluid .row .kolom-content .people-content .user img {
	width: 50px;
}
.container-fluid .row .kolom-content .people-content .name {
	font-size: 16px;
}
.container-fluid .row .kolom-content .people-content .time {
	color: rgb(104, 104, 104);
	font-weight: 300;
	/* width: 100%; */
}

/* Modal */
/* .modal {
	background-color: #ff4655;
} */

.modal-dialog {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-body {
	display: flex;
	justify-content: center;
}

.modal-footer {
	justify-content: space-around;
	align-items: center;
}

.modal-footer > button {
	color: white;
	width: 94px;
}

.modal-footer > button:hover {
	color: white;
}

.modal-footer > a {
	text-decoration: none;
	color: white;
}
.modal-footer > a > button {
	text-decoration: none;
	color: white;
	width: 94px;
}

.modal-footer .btn-logout {
	background-color: #ff4655;
}

.modal-footer .btn-cancel {
	background-color: #7f3eff;
}

/* ContentVideo */
.container-fluid .row .content-parent {
	background-color: black;
	margin-top: 10px;
	border-radius: 10px;
	height: 30rem;
}

/* Content Coment */
.content-coment h5 {
	font-weight: bolder;
}
.container-fluid .row .content-coment {
	padding: 10px;
}

.container-fluid .row .content-coment .card-body {
	padding: 10px;
	height: 35vh;
	overflow: auto;
}

.container-fluid .row .content-coment .card-body .box-coment {
	border-bottom: solid 1px rgb(199, 199, 199);
	margin-top: 1%;
}

.container-fluid
	.row
	.kolom-content
	.people-content
	.content-coment
	.box-coment
	.user-coment
	.img-profile
	a
	img {
	width: 35px;
}

.container-fluid .row .content-coment .card-body .box-coment p {
	color: rgb(136, 136, 136);
	font-weight: 300;
	font-size: 12px;
}

.desc {
	font-weight: 300;
	padding: 10px 0;
}

.kolom-content
	.people-content
	.content-coment
	.card-body
	.box-coment
	.user-coment
	.name-profile
	.time {
	color: #7f3eff;
}

.container-fluid .row .content-parent .video {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	/* overflow-y: hidden; */
	/* z-index: 1; */
}
.container-fluid .row .content-parent .video video {
	width: 100%;
	height: 100%;
	/* background-color: #f5f6fb; */
}

/* .container-fluid .row .content-parent video {
	background-color: aliceblue;
} */

.input-comment {
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-comment .comment {
	padding-top: 10px;
	width: 80%;
}

.input-comment .comment input {
	background-color: #f5f6fb;
	border: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-right: -25px;
}

.input-comment .comment button {
	background-color: #f5f6fb;
	border: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-right: 5px;
}

/* main content right */

.side-content {
	/* background-color: #fefdff; */
	border-radius: 10px;
	padding: 0px 30px;
}

.container-fluid .row .btn-posting {
	padding: 0px 50px;
	display: flex;
}
.container-fluid .row .posting {
	background-color: #ffffff;
	text-align: center;
	box-shadow: 0px 5px 5px #888888;
	border-radius: 25px;
	padding: 10px;
	/* margin-top: 23px; */
}

.container-fluid .row .posting > h3 {
	font-size: 20px;
}

.posting > a {
	text-decoration: none !important;
}

.container-fluid .row .posting i {
	color: #7f3eff;
}

.container-fluid .row .rekomendasi {
	margin-top: 30px;
	text-align: center;
}

.right-content .row .video {
	/* background-color: #7f3eff; */
	/* width: 50%; */
	height: 12rem;
	background-color: black;
	display: flex;
}

.right-content .row .video > video {
	width: 100%;
}

.container-fluid .row .right-content .row .judul {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container-fluid .row .right-content .row .judul .judul-content {
	display: flex;
	align-items: center;
	padding: 5px 0;
	font-size: 18px;
	font-weight: 500;
}

.container-fluid .row .right-content .row .judul .nama-date {
	display: flex;
	align-items: center;
	margin-bottom: -10px;
	color: #848484;
	font-weight: 300;
}

.container-fluid .row .right-content .row .judul .date {
	color: #848484;
	font-weight: 300;
}

@media screen and (max-width: 1220px) {
	.navbar .container-fluid .collapse form {
		width: 18rem;
		margin-right: 18rem;
	}

	.profile {
		position: absolute;
		right: 1rem;
		z-index: 0;
	}

	.profile a span {
		display: none;
	}

	/* Main content */
	.content-kategori {
		margin-top: 8%;
	}

	.kolom-content
		.people-content
		.content-coment
		.card-body
		.box-coment
		.user-coment
		.img-profile {
		width: auto;
	}
	.kolom-content
		.people-content
		.content-coment
		.card-body
		.box-coment
		.user-coment
		.name-profile {
		width: auto;
	}
}

@media screen and (max-width: 990px) {
	/* main content */
	.content-kategori {
		margin-top: 10%;
	}

	.container-fluid .row .kolom-content .people-content {
		margin: 10px;
	}

	.container-fluid .row .btn-posting {
		padding: 0;
	}
	.container-fluid .row .btn-posting .posting h3 {
		font-size: 20px;
	}
	.container-fluid .row .btn-posting .posting i {
		font-size: 40px;
	}

	.kolom-content
		.people-content
		.content-coment
		.card-body
		.box-coment
		.user-coment
		.img-profile {
		width: auto;
	}
	.kolom-content
		.people-content
		.content-coment
		.card-body
		.box-coment
		.user-coment
		.name-profile {
		width: auto;
	}

	/* Right-content */
	.right-content .row {
		flex-direction: column;
	}

	.right-content .video {
		width: 100%;
		/* z-index: -1; */
	}

	.container-fluid .row .right-content .row .judul {
		width: 100%;
	}

	/* Side bar */
	.menu-toggle {
		display: flex;
	}
	.profile {
		right: 60px;
	}
	.collapse:not(.show) {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		width: 40%;
		height: auto;
		background-image: linear-gradient(to left, #7f3eff, #f900d1);
		/* z-index: 0; */
		transform: translateX(100%);
		transition: all 0.8s;
		padding-bottom: 15px;
		border-radius: 10px;
	}
	.collapse .beranda {
		margin-top: 40px;
	}

	.collapse.slide {
		transform: translateX(0);
	}
	.collapse form {
		margin-left: 10px;
	}

	.nav-search .form-control {
		font-size: 12px;
	}
}

@media screen and (max-width: 780px) {
	/* main content */
	.content-kategori {
		margin-top: -1%;
	}

	.kolom-content .people-content .user-parent .user .img-profile {
		width: auto;
	}
	.kolom-content .people-content .user-parent .user .name-profile {
		width: auto;
	}

	.kolom-content
		.people-content
		.content-coment
		.card-body
		.box-coment
		.user-coment
		.img-profile {
		width: auto;
	}
	.kolom-content
		.people-content
		.content-coment
		.card-body
		.box-coment
		.user-coment
		.name-profile {
		width: auto;
	}

	.container-fluid .row .btn-posting {
		padding: 0;
	}
	.container-fluid .row .btn-posting .posting h3 {
		font-size: 20px;
	}
	.container-fluid .row .btn-posting .posting i {
		font-size: 40px;
	}
	.collapse:not(.show) {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		width: 80%;
		height: auto;
		background-image: linear-gradient(to left, #7f3eff, #f900d1);
		/* z-index: 0; */
		padding-bottom: 15px;
		border-radius: 10px;
	}
	.collapse .beranda {
		margin-top: 40px;
	}

	.right-content {
		display: flex;
		justify-content: center;
	}
	.right-content .row {
		width: 90%;
	}

	.right-content .row .video {
		/* width: 90%; */
		/* background-color: #7f3eff; */
		height: 20em;
		background-color: black;
		display: flex;
	}

	.right-content .row .video > video {
		width: 90%;
		height: 100%;
	}
	.list-kategori {
		display: flex;
		flex-direction: column;
		/* justify-content: center; */
		text-align: center;
		justify-content: space-evenly;
		font-weight: 800;
		font-size: 18px;
	}
	.list-kategori > li {
		list-style: none;
		padding: 5px;
	}
}
